.footer {
    background-color: none;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    color: #888;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-link {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social-link:hover {
    text-decoration: underline;
  }.faq {
    font-family: Arial, sans-serif;
  }
  
  mat-expansion-panel-header {
    align-items: center;
  }
  
  button[matSuffix] {
    margin-left: auto;
  }
  
  mat-panel-description {
    padding: 16px;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
  }

  .mat-card-title {
    font-weight: bold;
  }
  mat-list {
    padding: 0;
  }
  
  mat-list-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  mat-list-item:last-child {
    border-bottom: none;
  }