<img style="margin-left: 15px;
    margin-bottom: 25px;
" src="assets/images/total.jpg">



<mat-card>
    <mat-card-content>
      <mat-card-title>Направления наших курсов</mat-card-title>
      <mat-card-subtitle>Курсы основываются на востребованности направления</mat-card-subtitle>
      <div class="piechart">
        <apx-chart
          [series]="VisitorChartOptions.series"
          [chart]="VisitorChartOptions.chart"
          [labels]="VisitorChartOptions.labels"
          [responsive]="VisitorChartOptions.responsive"
          [tooltip]="VisitorChartOptions.tooltip"
          [legend]="VisitorChartOptions.legend"
          [colors]="VisitorChartOptions.colors"
          [dataLabels]="VisitorChartOptions.dataLabels"
          [plotOptions]="VisitorChartOptions.plotOptions"
          [stroke]="VisitorChartOptions.stroke"
        >
        </apx-chart>
      </div>
    </mat-card-content>
    <hr />
    <mat-card-content>
      <ul class="list-inline text-center">
        <li>
          <h6 class="text-success m-0">
            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Backend
          </h6>
        </li>
        <li>
          <h6 class="text-info m-0">
            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Frontend
          </h6>
        </li>
        <li>
          <h6 class="text-purple m-0">
            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>DevOps
          </h6>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  
<mat-card>
    <mat-tab-group>
        <!-- Tab 1 -->
        <mat-tab label="Отзывы">
            <mat-card-content>
                <div class="d-flex no-blcok" *ngFor='let activity of activityData'>
                    <div class="m-r-20">
                        <img class="img-circle" width="50" [src]=activity.image alt="Image"> </div>
                    <div class="p-b-20 b-b m-b-30">
                        <h4 class="m-0">{{activity.name}}
                            <small class="text-muted">({{activity.commentTime}})</small>
                        </h4>
                        <p class="text-muted">{{activity.comment}}</p>

                    </div>
                </div>
            </mat-card-content>
        </mat-tab>
        <!-- End Tab 1 -->
      
    </mat-tab-group>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-card-title>Почему именно мы?</mat-card-title>
    <mat-list>
      <mat-list-item>У нас только качественные курсы, вы не останетесь недовольным!</mat-list-item>
      <mat-list-item>Преподавания наши специалисты разработали более 80 методик, гарантирующих эффективное усвоение программы.</mat-list-item>
      <mat-list-item>Наши преподаватели полностью увлекают процессом обучения и созданием собственного проекта.</mat-list-item>
      <mat-list-item>Индивидуальный подход к каждому Клиенту.</mat-list-item>
      <mat-list-item>Широкий выбор услуг.</mat-list-item>
      <mat-list-item>Доступные цены.</mat-list-item>
      <mat-list-item>Мы качественно делаем и выполняем всю нашу работу и все условия</mat-list-item>
      <mat-list-item> Сможем сделать из вас востребованных специалистов</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<mat-card class="faq">
  <mat-card-header>
    <mat-card-title>
      Есть вопросы?
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let question of questions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ question.text }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          {{ question.answer }}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>








<!-- <footer class="footer">
  <div class="footer-content">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </div>
</footer> -->
<footer class="footer">
  <div class="footer-content">
    <p> @2023 Alenova School. Все права защищены.</p>
    <div class="social-links">
      <a href="facebook.com" class="social-link">Facebook</a>
      <a href="twitter.com" class="social-link">Twitter</a>
      <a href="instagram.com" class="social-link">Instagram</a>
    </div>
  </div>
</footer>