<h2>Оставить отзыв</h2>
<form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
  <mat-form-field appearance="fill">
    <textarea matInput formControlName="comments" placeholder="Комментарии"></textarea>
    <mat-error *ngIf="reviewForm.controls.comments.invalid && (reviewForm.controls.comments.dirty || reviewForm.controls.comments.touched)">
      Комментарии обязательны
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput type="number" formControlName="rating" placeholder="Оценка">
    <mat-error *ngIf="reviewForm.controls.rating.invalid && (reviewForm.controls.rating.dirty || reviewForm.controls.rating.touched)">
      Оценка должна быть от 1 до 5
    </mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit">Отправить</button>
</form>