<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<ng-container *ngIf="logged">
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class="">Username <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Настройки </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Выйти </button>
    </mat-menu>
    
</div>
</ng-container>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngIf="!logged">
        <a [routerLink]="['/login']" mat-menu-item style="border:none;"  >
            <mat-icon>login</mat-icon> Войти </a>
    </mat-list-item>
</mat-nav-list>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <ng-container *ngIf="menuitem.name!='Мои Курсы'">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>
    </ng-container>
    <ng-container *ngIf="menuitem.name=='Мои Курсы'">
        <ng-container *ngIf="logged">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>
    </ng-container> </ng-container> 
    </mat-list-item>

</mat-nav-list>