<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- List with selection-->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- List with icons selection-->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- List with icons selection-->
<!-- ============================================================== -->


<div fxLayout="row">
	<div fxFlex.gt-sm="100%" >
		<mat-card >
			<ng-container *ngIf="!courses" >
				<mat-card-content class="p-b-0 m-b-0" >
					<div  style="padding-bottom: 15px;" >
						<mat-card-title>Вы еще не записаны ни на какие курсы</mat-card-title>
						<mat-card-subtitle>Чтобы записаться перейдите во вкладку "Курсы"</mat-card-subtitle>
		
					</div>
								</mat-card-content>   
			</ng-container>
			<ng-container *ngIf="courses">
			<mat-card-content class="p-b-0 m-b-0">
				<mat-card-title>Курсы на которые вы записаны</mat-card-title>
				<mat-card-subtitle>Вы можете отказаться от подписки отправив заявку нам на почту или же нажав на кнопку отписки</mat-card-subtitle>
			</mat-card-content>   
			<mat-list>
				<mat-card-content class="p-t-0" >    
					<h3 mat-subheader>Курсы</h3>
					<div *ngFor="let course of courses">
						
						<mat-list-item  style="margin-bottom: 20px;">

							<h4 mat-line>{{course.name}}</h4>
							<p mat-line> {{course.description}} </p>
							<div style="display:flex; flex-direction: column;">
								<button mat-raised-button color="warn" style="margin-bottom: 5px;" (click)="testt(course.order_id)">Отписаться</button>
								<button mat-raised-button color="accent" (click)="review(course.order_id)">Оставить Отзыв</button>
							</div>
	
						</mat-list-item>
						
					</div>

				</mat-card-content>   
	
			</mat-list>    
		</ng-container>
		</mat-card>
	</div>
</div>