.rating {
    display: inline-block;
  }
  .star {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: gold;
    margin-right: 2px;
  }
  .filled {
    background-color: gold;
  }
  .course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .course {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    /* Дополнительные стили по вашему выбору */
  }
  
  .course-1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Leopard_in_the_Colchester_Zoo.jpg/1599px-Leopard_in_the_Colchester_Zoo.jpg.jpg');
  }
  
  .course-2 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Leopard_in_the_Colchester_Zoo.jpg/1599px-Leopard_in_the_Colchester_Zoo.jpg.jpg');
  }
  
  .course-3 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Leopard_in_the_Colchester_Zoo.jpg/1599px-Leopard_in_the_Colchester_Zoo.jpg.jpg');
  }
  
  @media (min-width: 768px) {
    .course {
      width: calc(33.33% - 10px);
    }
  }