<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
		<div fxFlex.gt-sm="100%" fxFlex="100">
			<mat-card *ngFor="let course of test">
				<div class="m-r-20">
					<img class="img-circle" width="50" [src]=course.imgURL alt="Image"> </div>
				<mat-card-content>
					
					<mat-card-title>{{course.name}}</mat-card-title>
					<mat-card-subtitle> {{course.description}}</mat-card-subtitle>
						<button mat-raised-button color="accent" >Регистрация</button>
				</mat-card-content>    
			</mat-card>
		</div>    
</div>
