<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- Card column -->
  <!-- Card column -->
  <!-- Card column -->
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>
